@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=PT+Serif:ital@1&family=Playfair+Display:ital,wght@1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Poppins" , sans-serif;
    /* overflow-x: hidden; */
}


:root{
    --text-color: #fca311;
    --hover-color: #14213d;
    --bg-color: #14213d;
    --big-font:2.7rem;
    --normal-font:1.09rem;
    --h2-font:3rem;
    --font-text-shadow:0 0 10px rgba(255, 231, 18, 0.6),
    0 0 20px rgba(255, 231, 18, 0.6),
    0 0 30px rgba(255, 231, 18, 0.6),
    0 0 40px rgba(255, 231, 18, 0.6),
    0 0 70px rgba(255, 231, 18, 0.6),
    0 0 80px rgba(255, 231, 18, 0.6),
    0 0 100px rgba(255, 231, 18, 0.6),
    0 0 150px rgba(255, 231, 18, 0.6);
}
header{
   position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    background: #060e1f;
    padding: 0px 45px;
}
 .nav-logo{
    font-size: 26px;
    font-weight:700 ;
    letter-spacing: 1px;
    color: var(--text-color);
    
 }

 span{
    color:rgba(253, 249, 0, 0.849);
    font-size: 2.5rem;
 }

 .nav-items{
    display: flex;
    padding: 0 45px;
 }

 .nav-items a{
    color: var(--text-color);
    font-weight: 500;
    padding: 20px 10px;
    font-size: 1.2rem;
 }

 .nav-items a:hover{
    color: var(--text-color);
    text-shadow:  var(--font-text-shadow)
 }

 .mobile-nav-icon{
   display: none;
   z-index: 10001;
   cursor: pointer;
   margin-left:25px ;
   background-color:var(--text-color) ;
   border-radius: 3px;
   color: var(--bg-color);
   padding: 4px;
   font-size: 1.8rem;   
 }

 .mobile-nav-btn{
   display: none;
 }

 main{
   color: var(--text-color);
   background-color: var(--bg-color);
   padding: 0px 5% ; 
   min-height: 90vh;
   height: 100%;
   width: 100%;
 }

 .herosection{
   min-height: 90vh;
   height: 100%;
   width: 95%;
   display: grid;
   grid-template-columns:repeat(2,1fr) ;
   align-items: center;
   grid-gap: 5em;
   font-size: var(--normal-font);
 }

 .name{
  padding-left: 100px;
 }

 .name h1{
   font-size: var(--big-font);
   margin: 0;
   color: var(--text-color);
   display: inline-block;
   overflow: hidden;
   white-space: nowrap;
   width: 0;
   animation: typing;
   animation-duration: 4.5s;
   animation-iteration-count:infinite;
   animation-timing-function: steps(30, end);
   animation-fill-mode: forwards;
 }
 
 @keyframes typing {
   from { width: 0 }
   to { width: 100% }
 }
 
/* about Section */ 
.about-me{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.my-pic{
  width: 40%;
}

.my-pic >img{
  height: 540px ;

}

.heading-primary{
  font-size: var(--big-font);
  color: var(--text-color);
  text-shadow: var(--font-text-shadow);
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px  rgba(255, 231, 18, 0.6), 0 0 20px  rgba(255, 231, 18, 0.6), 0 0 30px  rgba(255, 231, 18, 0.6), 0 0 40px  rgba(255, 231, 18, 0.6), 0 0 50px  rgba(255, 231, 18, 0.6);
    }

    to {
        text-shadow: 0 0 20px  rgba(255, 231, 18, 0.6), 0 0 30px  rgba(255, 231, 18, 0.6), 0 0 40px  rgba(255, 231, 18, 0.6), 0 0 60px rgba(255, 231, 18, 0.6), 0 0 70px rgba(255, 231, 18, 0.6);
    }
}

.about{
  width: 60%;
  padding-left:50px ;
}

.about > p {
  font-size: var(--normal-font);
  text-align: justify;
  margin-top: 10px;
}

/* EDUCATION SECTION */
.education{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 90vh;


}
.Edu{
  border-radius: 8px;
  box-shadow: 6px 6px 6px #060e1f;
  height: 400px;
  font-size: var(--normal-font);
  width: 70%;
  
}

.Edu  tr  td{
  padding: 0 8px;
}

/* SKILLS SECTION */
.skill{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  }
  .title{
  font-size: var(--normal-font);
  font-weight: 400;
  margin: 15px 0 20px;
  }
  
  .skill-bar{
  margin: 15px auto ;
  border-radius: 3px;
  height: 10px;
  background-color: #2b3853;
  }
  .skill-per{
  border-radius: 3px;
  height: 10px;
  background-color:var(--text-color);
  animation: fillbar 3s infinite ;
  }
  @keyframes fillbar{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
  }
  .tooltip{
  position: relative;
  right: -280px;
  top: -37px;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--text-color);
  color:  #2b3853;
  width: 6%;
  }

  /* CONTACT SECTION */
  .contact{
    color:var(--text-color);
    height: 90vh;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .info{
  width: 30%;
  height: 70%;
 
  }
  .info > p{
    font-size: var(--normal-font);
    text-align: center;

    padding: 10px ;
  }
  p > span{
  font-weight: 300;
  font-size: 1.4rem;
  padding: 5px;
  }

/* FOOTER SECTION */
footer{
  color:var(--text-color);
  background-color: #060e1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

footer > p{
  font-size: 1rem;
}

.social-media-handels{
  display: flex;
  
}

.social-media-handels > li > a:hover{
  font-size: 2.1rem;
}

.social-media-handels > li > a{
  color: var(--text-color);
  padding: 18px 20px;
  font-size: 1.8rem;
}